
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    white-space: inherit;
    font-weight: bold;
}
.initial-text {
    padding-left: 1rem;
    white-space: inherit;
    font-size: 18px;
    text-align: center;
}
.input-wrapper {
    background-color: yellow;
}
.body_text {
    font-weight: 200;
    font-size: smaller;
    color: #0F2B64;
}