<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      DHBW News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="searchbox">
  <div class="logo">
    <ion-img class="logo" src="assets/images/2560px-DHBW-Logo.svg.png"></ion-img>
  </div>

  <div class="space-before">
    <h2 class="subtitle">Bitte geben Sie einen Suchbegriff ein</h2>
    <ion-item>
      <ion-input clearInput placeholder="z.B. Sport, Kultur, Politik" type="string" [(ngModel)]="eingabeCategory"></ion-input>
    </ion-item>

    &nbsp;

    <ion-item>
      <ion-label>Kommentar</ion-label>
      <ion-input clearInput type="text" maxlenght="150" position="floating" [(ngModel)]="eingabeKommentar"></ion-input>
    </ion-item>

    &nbsp;

    <ion-button expand="block" (click)="onSearchButton()">Artikel suchen</ion-button>
  </div>
</ion-content>