.result-text {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.text_color{
    color: #ffffff;
}
.leading_image {
    width:300px;
    height:100px;
    object-fit:cover;
    border-radius: 5px;
}
.row_style {
    background-color: #0F2B64;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}